/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2015, 12:01:25 PM
    Author     : sh
*/


/* Footer fixed in bottom */

footer.site-footer {
    bottom: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 2;
}